.caroussel {
    display: flex;
    justify-content: center;
    &_img{
        object-fit: cover;
        width: 100%;
        height: 500px;
        border-radius: 30px;

    }
    .arrow {
        position: absolute;
    }
    .arrow_left {
        left: 50px;
        bottom: 250px;
    }
    .arrow_right {
        right: 70px;
        bottom: 250px;
    }

    .count {
        color: white;
        position: relative;
        bottom: -450px;
        right: 50%;
    }
}