
@import '../../styles/colors.scss';

.body{
  
  @media (min-width:848px){
  margin-right: 5em;
  margin-left: 5em;
}
}

.card_home{
    margin-right:10px;
margin-left:10px;
@media (min-width:848px){
  background-color:$background;
  border-radius:20px;
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
  height: auto;
  justify-content:space-evenly;
  padding:15px;
 
}
a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: initial;
  }
}
