@import '../../styles/colors.scss';

.host {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-img{
        object-fit: cover;
        border-radius: 50%;
        height: 70px;
    }

    &-name{
        color:$primary;
        margin-right: 10px;
    }
}