@import "../../styles/colors.scss";

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .collapse {
        background-color:$primary;
        color:white;
        margin-bottom:20px;
        padding:5px;
        width:80%;
        border-radius:5px;
        display: flex;
        justify-content: space-between;

        p{
            margin:0 0 0 10px;
            font-size:1.1em;
         }
         
}
.menu_Hide {
    width: 80%;
    background-color: $background;
    color:$primary;
    position: relative;
    top: -22px;
    z-index: -2;
    max-height: 200px; /* Réglez la hauteur maximale à une valeur suffisamment grande */
  overflow: hidden;
  transition: max-height 1s ease, opacity 01s ease;
}

.closed {
  max-height: 0; /* Masquez le contenu en réduisant la hauteur à 0 */
  opacity: 0; 
}/* Rendez le contenu transparent */

ul {
    margin:0;
    padding: 15px;
}
li{
    margin:0;
    list-style: none;
}

}


// animation 

.rotate-icon {
    transition: transform 0.5s ease;
    transform: rotate(-180deg);
 }
 
 .rotate-icon-closed {
    transition: transform 0.5s ease;
    transform: rotate(0deg); 
  }
 
 